
.cards {
    
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    flex-direction: row;

    
    align-items: center;
    padding: 23px 30px;
    gap: 29px;
  }
  
  .cards .fo {
    background-color: #f43f5e;
  }
  
  .cards .folk {
    background-color: #803bf6;
  }
  
  .cards .bangNick {
    background-color: #007b00;
  }
  
  .cards .sarr {
    background-color: #d8ce00;
  }

  .cards .pond-1st-YR {
    background-color: #1074ff;
  }

  .cards .card {
    padding: 20px; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 250px;
    height: 370px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: 400ms;
  }
  
  .cards .card p.tip {
    font-size: 1em;
    font-weight: 700;
  }
  
  .cards .card p.second-text {
    font-size: .7em;
  }




.cards .card:hover {
  transform: scale(1.1);
  filter: none; 
}


.cards:has(.card:hover) .card:not(:hover) {
  filter: blur(10px);
  transform: scale(0.9);
}


.card-img {

    position: absolute;
    width: 187px;
    height: 199px;
    left: 31.5px;
    top: 26.5px;

background: #D9D9D9;
border-radius: 22px;
}
.card-img  img{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
   
    border-radius: 22px;
    object-fit: cover;
}

h5{
    text-shadow: 1px 1px 1px black; 
    position: absolute;
    top: 0px;
}



.name-section {
    margin-top: 225px; 
    display: inline-flex; 
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 10px; 
   
    gap: 10px;
    
    height: 35px; 
    background: #ffffff;
    border-radius: 10px;
    white-space: nowrap; 
}
.name-section span {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: Bold;
    color: #000;
}


.ui-btn {
    --btn-default-bg: rgb(41, 41, 41);
    --btn-padding: 10px 20px;
    --btn-hover-bg: rgb(51, 51, 51);
    --btn-transition: .3s;
    --btn-letter-spacing: .1rem;
    --btn-animation-duration: 1s;
    --btn-shadow-color: rgba(0, 0, 0, 0.137);
    --btn-shadow: 0 2px 10px 0 var(--btn-shadow-color);
    --hover-btn-color: #FAC921;
    --default-btn-color: #fff;
    --font-size: 16px;
    /* this field should not be empty */
    --font-weight: 600;
    --font-family: Menlo,Roboto Mono,monospace;
    /* this field should not be empty */
  }
  
  
  
  .ui-btn {
   
    box-sizing: border-box;
    padding: var(--btn-padding);
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
   
    color: var(--default-btn-color);
    font: var(--font-weight) var(--font-size) var(--font-family);
    background: var(--btn-default-bg);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: var(--btn-transition);
    overflow: hidden;
    box-shadow: var(--btn-shadow);
    margin-top: auto; 
    margin-bottom: 10px;
  }
  
  .ui-btn span {
    letter-spacing: var(--btn-letter-spacing);
    transition: var(--btn-transition);
    box-sizing: border-box;
    position: relative;
    background: inherit;
  }
  
  .ui-btn span::before {

    position: absolute;
    content: "Any issues?";
    background: inherit;
  }
  
  .ui-btn:hover, .ui-btn:focus {
    background: var(--btn-hover-bg);
  }
  
  .ui-btn:hover span, .ui-btn:focus span {
    color: var(--hover-btn-color);
  }
  
  .ui-btn:hover span::before, .ui-btn:focus span::before {
    animation: chitchat linear both var(--btn-animation-duration);
  }


  @keyframes chitchat {
    0% { content: "#"; }
    3% { content: "."; }
    6% { content: "^{"; }
    9% { content: "-!"; }
    12% { content: "#$_"; }
    15% { content: "№:0"; }
    18% { content: "#{+."; }
    21% { content: "@}-?"; }
    24% { content: "?{4@%"; }
    27% { content: "=.,^!"; }
    30% { content: "?2@%"; }
    33% { content: "/;1}]"; }
    36% { content: "?{%:%"; }
    39% { content: "|{f[4"; }
    42% { content: "{4%0%"; }
    45% { content: "'1_0<"; }
    48% { content: "{0%"; }
    51% { content: "]>'"; }
    54% { content: "4"; }
    57% { content: "2"; }
    60% { content: ""; }
    100% {content: "";
      /* right: 0; */
    }
}


.img-bg{
    position: relative;
    margin-bottom: 0px;
    width: auto;
    height: auto;
    background: #6d6d6d;
    border-radius: 22px;
    padding: 20px 20px;
    align-items: center;
    justify-items: center;
}

  .image-container img{
    border-radius: 20px;
    object-fit: cover;
    width: 600;
    height: 300px;
    left: 14.5px;
    top: 26.5px;

}


  
.podium{
    margin-top: 3em;
}
